.job-card-container.card {
    overflow: hidden;
    height: 250px;
    border: none;
    border-radius: 16px !important;
    box-shadow: 0 0 4px 1px rgb(0 0 0 / 5%), 1px 1px 1px 1px rgb(0 0 0 / 5%);
    padding: 10px;

    text-decoration: none;
    color: black;
    font-size: 14px;
}

.job-title.card-title {
    padding: 0.5rem 1rem 0;
    margin-bottom: 0 !important;
    overflow: hidden;
    height: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.job-body.card-body {
    display: grid;
    grid-gap: 1rem;
    padding: 0 1rem;
}
.job-body > * {
    height: fit-content;
}

.job-description {
    height: 5.1rem;
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.stars-container {
    padding: 0 !important;
}

.job-apply.btn {
    background-color: #1C4B82;
    border-color: #1C4B82;

    text-transform: uppercase;
}