#main-bg {
    height: 100%;
    background-color: #fff;
    padding: 0 150px;
}

.main-search-container,
[class^="main-section"]{
    display: grid;
    grid-template-columns: 25% 75%;
}

.main-search-container .form-control {
    border-width: 0 1px 1px 1px;
    border-radius: 0;
    padding: 0.7rem 2rem;
}
.main-search-container .btn {
    border-radius: 0;
    border-color: #DD6B4D;
    background-color: #DD6B4D;
}

.main-section-titles {
    border-width: 0 0 1px 0;
    border-color: #ced4da;
    border-style: solid;
}
.main-section-titles > * {
    padding: 0.7rem 2rem;
    margin: 0;
}

.main-section-container > * {
    border-width: 0 1px 1px 1px;
    border-color: #ced4da;
    border-style: solid;
    border-radius: 0;
    padding: 0.7rem 2rem;
}
.main-filter-section,
.main-jobs-section {
    display: grid;
    grid-gap: 1rem;
    padding: 2rem 2rem;
}
.main-filter-section .form-check {
    padding: 0 2rem;
}
.main-filter-section .form-label {
    font-weight: 800;
    color: #A6A6A6;
}

.main-section-jobs {
}