#background {
    background: url("../assests/quad.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card{
    width: 75%; 
    height: 83%; 
    position: fixed; 
    left: 12%; 
    top: 10%; 
    background-color: white;
    z-index: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(117, 117, 117);
}